* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outline-hide {
    display: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    /* overflow-x: hidden; */
}

.wrapper {
    margin: 0 auto;
    max-width: 1600px;
    /* overflow-x: hidden; */
    border-left: 1px solid rgba(207, 207, 207, 0.6);
    border-right: 1px solid rgba(207, 207, 207, 0.6);

}

h2 {
    color: rgb(153, 152, 152);
    font-size: 2.3rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section {
    position: relative;
    background-color: #fff;
    color: rgb(175, 174, 174);
    min-height: 20vh;
    font-size: 1.4rem;
    padding: 8vh 5%;
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 1.6;
}

li {
    list-style: none;
}

.logo {
    position: absolute;
    top: 50%;
    left: 30px;
    min-width: 100px;
    transform: translateY(-50%);
    text-transform: uppercase;
    line-height: 1.7;
    cursor: pointer;
}

.logo i {
    font-size: 1.4rem;
}

.logo a h1 span {
    display: inline-block;
    width: 75%;
    ;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.logo a {
    display: block;
    font-size: .8rem;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background: rgba(0, 0, 0, 0.80);
    z-index: 1;

}

nav .navmenu {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    justify-content: space-around;
    align-content: center;
    width: 65%;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

nav .hamburger {
    position: absolute;
    display: none;
    top: 0%;
    right: 0%;

    width: 50px;
    height: 50px;
    background: red;
    ;
}

nav .navmenu li a {
    color: rgb(192, 192, 192);
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
}

nav .navmenu li a i {
    font-size: .8rem;
    line-height: 7vh;
}

nav .navmenu li a:hover {
    color: #fff;
    transform: scale(1.1)
}

/* pomiń search i carton */
nav .navmenu li a:hover i:not(.fa-cart-arrow-down):not(.fa-search) {
    transform: rotate(-45deg)
}

/* rozwijane menu 1*/
nav ul li .sub-menu {
    display: none;
    background: rgba(0, 0, 0, 0.75);
}

nav ul li .sub-menu li {
    height: 5vh;
}

nav ul li .sub-menu li a {
    display: block;
    padding: 10px 25px;

}

nav ul li:hover .sub-menu {
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0, 0.75);
    border-radius: 0% 0% 3% 3%;
    position: absolute;
    top: 7vh;
}

/* header */

header {
    height: 100vh;
    background-image: url(../img/motto.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: grayscale(0.65) brightness(0.9);
    /* position: relative; */
}

header .header-textblock {
    position: absolute;
    left: 50px;
    bottom: 170px;
    color: rgb(192, 192, 192);
}

header h2 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 30px;
    color: #fff;
    line-height: 10rem;
    font-weight: 300;
    text-shadow: 0 0 1 rgba(0, 0, 0, 0.5);
}

header h3 {
    color: rgb(228, 228, 228);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 300;
}

header button {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%) rotate(-45deg);
    background: rgba(255, 255, 255, 0.0);
    width: 20px;
    height: 20px;
    color: rgb(192, 192, 192);
    border-radius: 12%;
    cursor: pointer;
    box-shadow: 0;
}

header button div {
    transform: rotate(45deg)
}

header button:active,
header button:focus,
header button {
    border: 1px solid rgb(255, 255, 255);
}

header button:hover {
    box-shadow: 0px 0px 10px 2px rgb(92, 92, 92);
    /* border: 1px solid rgb(255, 25, 25); */
}

header button i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(-45deg) translateX(-50%);
    color: rgb(240, 240, 240);
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
    animation: buttondown 1.5s infinite ease-out;
    outline: none;
}

@keyframes buttondown {
    0% {
        transform: translate(-50%, -5px);
    }

    30% {
        transform: translate(-50%, 0px);
    }

    100% {
        transform: translate(-50%, -5px);
    }
}

/* dolna linia sekcji */
.bottom-line {
    width: 100%;
    border-bottom: 1px solid rgba(207, 207, 207, 0.6);
}

.flex-container {
    display: flex;
    padding: 3% 0;
    height: 100%;
}

/* sekcja 1 about */

.about .more-info {
    position: absolute;
    top: 60px;
    right: 100px;
    color: rgb(175, 174, 174);
    line-height: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.4s;
}

.about .more-info:hover {
    color: rgb(97, 97, 97);
}

.about .more-info i {
    position: absolute;
    top: 0;
    right: -20px;
    transform: rotate(-90deg);
    font-size: 1rem;
}

.about .progress-bars {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    font-size: 1rem;
    font-size: 0;
    padding-top: 2%;
    margin-right: 3%;
}

.progress-bar-bg {
    background-color: rgb(230, 230, 230);
    height: 2px;
    margin-bottom: 70px;
    color: #000;
}

.progress-bar-bg .progress-bar-value {
    background-color: rgb(59, 59, 59);
    height: 2px;
}

/* postęp w progressbarach*/
.progress-bars .progress-bar-bg:nth-child(1) .progress-bar-value {
    width: 50%;
}

.progress-bars .progress-bar-bg:nth-child(2) .progress-bar-value {
    width: 90%;
}

.progress-bars .progress-bar-bg:nth-child(3) .progress-bar-value {
    width: 75%;
}

/* położenie procentów w progresach */
.progress-bars .progress-bar-bg:nth-child(1) .progress-description .progress-percent {
    position: absolute;
    left: calc(50% - 15px);
}

.progress-bars .progress-bar-bg:nth-child(2) .progress-description .progress-percent {
    position: absolute;
    left: calc(90% - 15px);
}

.progress-bars .progress-bar-bg:nth-child(3) .progress-description .progress-percent {
    position: absolute;
    left: calc(75% - 15px);
}

.progress-bar-bg .progress-description {
    position: relative;
    font-size: 1.3rem;
    color: rgb(37, 37, 37)
}

/* układ dwu-kolumnowy */
section.about .two-columns {
    flex-basis: 50vw;
    flex-grow: 2;
    padding: 1%;
    column-count: 2;
    height: 100%;
    color: #000;
}

/* sekcja 2 services */
.services {
    display: flex;
    flex-direction: column;
}

.services h2 {
    text-align: center;
}

.vector-images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 8vh 0;
}

.vector-image {
    /* flex-basis: 10px; */
    justify-content: center;
}

.vector-image .vector-description {
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.vector-image i {
    color: rgba(100, 100, 100, 0.582);
    margin: 0 auto;
    font-size: 8rem;
    transition: 0.5s;
    cursor: pointer;
}

.vector-image:hover>* {
    color: rgb(54, 54, 54);
}

.services .text-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.services .text-content .citate {
    flex-basis: 180px;
    flex-grow: 1;
    color: rgb(63, 63, 63);
    font-size: 1.8rem;
    letter-spacing: 3px;
    line-height: 3.5rem;
    padding: 0 5% 0 0;
}

.citate .citate-author {
    display: block;
    padding-top: 40px;
    letter-spacing: 2px;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.services .text-content .two-columns {
    flex-basis: 50px;
    flex-grow: 5;
    columns: 2;
    color: #000;
    margin-bottom: 15%;
}

.services .more-info {

    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(175, 174, 174);
    line-height: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.4s;
}

.services .more-info i {
    transform: rotate(-90deg)
}

.services .more-info:hover {
    color: rgb(97, 97, 97);
}

/* motto */

.motto {
    background-image: url(../img/baner22.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    filter: grayscale(0.95);
    opacity: 0.9;
}

.motto h2 {
    color: rgb(241, 241, 241);
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
}

.motto h3 {
    color: rgb(241, 241, 241);
    margin-bottom: 50px;
    font-weight: 200;
    font-size: 1.7rem;
    text-shadow: 0px 0px 1px rgb(41, 41, 41);
}

.motto button,
.work button {
    position: absolute;
    right: 10%;
    bottom: 15%;
    padding: 10px 40px;
    border-radius: 3px;
    border: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 200;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    transition: 0.5s;
}

.motto button:hover,
.work button:hover {
    background-color: #fff;
}

/* ostatnie projekty */
.work {
    position: relative;
    padding: 7% 0;
    margin: 0;
    width: 100%;
}

.work h2 {
    text-align: center;
    padding: 3% 10%;
}

.work h2+div {
    color: rgb(121, 121, 121);
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.work .images {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.work .images img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    filter: grayscale(0.7);
    transition: 0.5s;
}


.work .images .image {
    position: relative;
    flex-grow: 0;
    width: 31%;
    overflow: hidden;
}

.work .images .image:hover>.mask {
    bottom: 0px;
    opacity: 0.95;
}

.work .images .mask {
    position: absolute;
    bottom: -500px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}

.work .images .mask div {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 20px;
    opacity: 1;
}

.work .images .mask div div {
    bottom: -15px;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #000;

}

.more-info-work {
    position: relative;
    background-color: rgba(0, 0, 0, 0.931);
    text-align: center;
    height: 35vh;
    /* padding: 50px; */
    margin-bottom: 5%;
}


.more-info-work div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    padding: 1%;
}



.more-info-work div button {
    margin-top: 2%;
    padding: 10px 40px;
    border-radius: 3px;
    border: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 200;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    transition: 0.5s;
}

/* dlaczego my */


.whywe h2 {
    text-align: center;
}

.whywe .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.whywe .features .feature {
    position: relative;
    flex-basis: 30%;
}

.whywe .features .feature:hover i {
    color: rgb(133, 133, 133);
}

.whywe .features .feature i {
    display: block;
    width: 50%;
    color: rgb(173, 173, 173);
    margin: 0 auto;
    padding: 5%;
    font-size: 6rem;
    transition: 0.7s;
}

.whywe .features .feature h3 {
    color: #000;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
    padding: 15px;
}

/* opinie */
.opinion {
    position: relative;
    background-image: url(../img/opinion.jpg);
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(0.85);
    height: 50vh;
}

.opinion div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3%;
    z-index: 1;

}

.opinion div h2 {
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 255, 255);

}

.opinion div .citate {
    text-align: center;
    font-size: 1.7rem;
    color: rgb(200, 200, 200);
    font-weight: 200;
    padding-top: 10%;
}

.opinion div .citate .citate-author {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 200;
}

/* sekcja template */
.template {
    display: flex;
    justify-content: space-around;
    padding: 9vh 5%;
}

.template .image {
    width: 30%;
}

.template .image img {
    width: 100%;
    max-width: 100%;
    filter: grayscale(0.65)
}

.template .content {
    width: 50%;
    padding: 10px 0px;
    color: #000;
    text-align: justify;
}

.template .content h2 {
    color: #000;
    padding-bottom: 5%;
}

.template .content button {
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    padding: 12px 40px;
    border-radius: 2px;
    border: 2px solid #000;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: 200;
    transition: 0.3s;
}

.template .content button:hover {
    background: #000;
    color: #fff;
}


/* subscription */
.subscription {
    /* width: 100%; */
    position: relative;
    height: 30vh;
    background: rgba(248, 248, 248, 0.836);

}

.subscription .content {
    min-width: 400px;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
}

.subscription .content h2 {
    color: #000;
    font-size: 1.7rem;
    text-align: center;
}

.subscription .content input[type='text'] {
    display: inline-block;
    background: rgb(255, 255, 255);
    height: 40px;
    border: 1px solid rgba(230, 230, 230, 0.795);
    padding: 10px 20px;
    margin-top: 3%;
    text-transform: uppercase;
    width: 60%;
}

.subscription .content .note {
    padding: 3% 0;
    font-size: 1.1rem;
    color: #38393B;
}

.subscription .content input[type='button'] {
    background: rgb(73, 73, 73);
    color: #fff;
    height: 40px;
    width: 30%;
    padding: 5px 20px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subscription .content input[type='button']:hover {
    background: rgb(104, 103, 103);
}

.subscription .content input[type='text']:focus {
    border: 1px solid rgb(175, 175, 175);
    outline: none;
}

/* footer */
footer {
    background: #000;
    height: 30vh;
    text-align: center;
}

footer div {
    line-height: 30vh;
}

footer div a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 200;
}

/* media queries */
@media (max-width:1025px) {

    .logo a {
        font-size: 1rem;
    }

    nav .navmenu {
        width: 80%;
        right: 1%;
    }

    nav .navmenu li a {
        font-size: 1.3rem;

    }

    header .header-textblock {
        bottom: 140px;
        ;
    }

    header h2 {
        font-size: 3.4rem;
    }

    header h3 {
        font-size: 1.9rem;
    }

    header button {
        width: 25px;
        height: 25px;
    }

    header button i {
        font-size: 1.2rem;
    }

    .about .progress-bars {
        flex-basis: 30%;
    }

    section.about .two-columns {
        column-count: 1;
    }

    .vector-images {
        width: 100%;
    }

    .services .text-content .two-columns {
        columns: 1;
    }

    .opinion {

        height: 40vh;
    }

}

@media (max-width:980px) {

    .logo {
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo i {
        font-size: 2.6rem;
    }

    .logo a {
        font-size: 2.2rem;
        border: 0px;
    }

    .logo a h1 span {
        border-bottom: 0px;
    }

    nav {
        position: relative;
        height: 0;
        background: transparent;
    }

    nav .navmenu {
        display: none;
    }

    nav .hamburger {
        display: block;
    }

    header .header-textblock {
        bottom: 270px;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }

    header h2 {
        font-size: 3.3rem;
        text-align: center;
        line-height: 1.7;
        padding-bottom: 5%;
    }

    header h3 {
        font-size: 1.3rem;
        text-align: center;
    }

    header button {
        width: 30px;
        height: 30px;
    }

    header button i {
        font-size: 1.3rem;
    }

    .about .progress-bars {
        display: none;
    }

    .services .text-content .citate {
        display: none;
    }

    .services {
        padding-bottom: 15%;
    }

    .motto h2 {
        font-size: 1.7rem;
        ;
    }

    .motto h3 {
        text-align: center;
    }

    .motto button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .whywe {
        padding: 0;
    }

    .whywe .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .whywe .features .feature {
        padding: 5%;
        flex-basis: 50%;
    }

    .template .image {
        width: 25%;
    }

    .template .content {
        width: 70%;
        padding: 10px 0px;
        color: #000;
        text-align: justify;
    }

}

@media (max-width:800px) {
    html {
        font-size: 11PX;
    }

    nav {
        position: relative;
        height: 0;
    }

    .logo {
        top: 120px;
        left: 50%;
        transform: translateX(-50%);

    }

    .logo i {
        font-size: 2.5rem;
    }

    .logo a {
        font-size: 2rem;
        border: 0px;
    }

    .logo a h1 span {
        border-bottom: 0px;
    }


    header .header-textblock {
        bottom: 270px;
        width: 80%;

    }

    header h2 {
        font-size: 3.3rem;
        text-align: center;
        line-height: 1.7;
        padding-bottom: 5%;
    }

    header h3 {
        font-size: 1.2rem;
        text-align: center;
    }

    header button {
        width: 40px;
        height: 40px;
        bottom: 75px;
    }

    header button i {
        font-size: 1.3rem;
    }

    .about .progress-bars {
        display: none;
    }

    .services .text-content .citate {
        display: none;
    }

    .services {
        padding-bottom: 5%;
    }

    .vector-images {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

    }

    .vector-image {
        padding: 5%;
    }

    .vector-image i {
        font-size: 9rem;
    }

    .motto h2 {
        font-size: 1.7rem;
        ;
    }

    .motto h3 {
        text-align: center;
    }

    .motto button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .work .images {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .work .images .image {
        width: 75%;
        overflow: hidden;
        flex-grow: 0;
    }

    .more-info-work h2 {
        font-size: 1.7rem;
        ;
    }

    .more-info-work div button {
        margin-top: 10%;
        font-size: 1rem;

    }

    .whywe {
        padding: 0;
    }

    .whywe .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .whywe .features .feature {
        padding: 5%;
        flex-basis: 100%;
    }

    .whywe .features .feature i {
        text-align: center;
        font-size: 10rem;
    }

    .whywe .features .feature h3 {
        text-align: center;
        font-size: 2rem;

    }

    .work .more-info {
        height: 30vh;
        margin-top: 0%;
        padding: 10px;


    }

    .work .more-info div h2 {
        font-size: 2rem;
        left: 0%;
        transform: translateX(0%);
    }


    .work .more-info div button {
        top: 100px;
        left: 50%;
        height: 30px;
        width: 70%;
        transform: translateX(-50%);
    }

    .opinion {

        height: 35vh;
    }

    .opinion div h2 {

        font-size: 3rem;
    }

    .opinion div .citate {

        font-size: 1.5rem;
        padding-top: 15%;
    }

    .opinion div .citate .citate-author {
        font-size: 1rem;
    }

    footer {
        height: 20vh;
    }

    footer div {
        line-height: 20vh;
    }
}